#meetingbox {
    background-color: LightBlue;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#topicbox {
    background-color: MistyRose;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#terminalbox {
    background-color: WhiteSmoke;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#pscode {
    padding: 5px;
    border: 1px dashed grey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btn-bottom {
    position:absolute;
    bottom: 0;
}

/* Die "table styles" sorgen für gleiche Höhe bei den 3 Boxen/Spalten */

@media (min-width: 768px) {
  .table-row {
    display: table;
    table-layout: fixed;
  }

  .table-row [class^="col-"] {
    display: table-cell;
    float: none;
  }
}

/* Button in der Kontaktform */
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
