.Treffen {
   content: "Die PowerShell Usergroup Hannover (PSUGH) trifft sich am:";
}

.naechsterTermin::after {
    content: "Freitag, den 20.12.2024, ab 18:30h";
}

.Thema1::after {
    content: "Powershell-Code generieren mit KI und Security Keys (aka Yubikeys) Nachlese";
}
.Detail1::after {
    content: "Die Funktionsweise von Security-Keys erklärt: Fido, TOTP, HOTP und mehr.";
}
/* .Thema2::after {
    content: "Powershell-Code generieren mit KI-Tools.";
}
.Detail2::after {
    content: "Holger Voges wird zeigen, wie weit die Codegenerierung mit KI inzwischen ist, und welche Tools heute State of the Art sind.";
}
*/
