.Treffen {
   content: "Die PowerShell Usergroup Hannover (PSUGH) trifft sich am:";
}

.naechsterTermin::after {
    content: "17.09.2021, 18:30h (mit 2G-Regel)";
}

.Thema1::after {
    content: "1. Ansible für Win Admins mit Stephan";
}

.Thema2::after {
    content: "2. Einführung in Kerberos mit Holger";
}

.Thema3::after {
    content: "3. Fachlicher Austausch & Bring your Script";
}
