.Treffen {
   content: "Die PowerShell Usergroup Hannover (PSUGH) trifft sich am:";
}

.naechsterTermin::after {
    content: "Freitag, den 16.02.2024, ab 18:30h";
}

.Thema1::after {
    content: "1.  Große Skripte mit mehr als 1000 Zeilen sinnvoll aufteilen.";
}
.Detail1::after {
    content: "Holger präsentiert seine Module zur automatischen Verwaltung seiner Schulungsumgebung.";
}
.Thema2::after {
    content: "2.  Github Copilot mit Powershell sinnvoll einsetzen";
}
.Detail2::after {
    content: "... oder wo man vorsichtig sein muss.";
}
