#abstract {
    background-color: WhiteSmoke;
    border: 2px dashed lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}

